
<%- include partial/header.ejs %>

<%- include partial/nav.ejs %>

    <p>My name is Threepat Kiatkamol. <br/>
    I have worked as developer in c#, untiy engine for 2 years<br/>
    I have worked as freelancer in flutter for 1 year <br/>
    Click to see <a href="./documents/Resume.pdf">Resume</a>
    </p>
    </div>
    <div class="right">
        <img src="/images/me.jpg" height="500px">
    </div>
    </section>
  </body>
</html>
