<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
       <nav>
    <ul>
    <img src="/images/img.png">
    <li><a href="/">Home</a></li>
    <li><a href="/project">My Project</a></li> 
    <li><a href="/aboutme">About Me</a></li> 
    <li><a href="/services">Services</a></li> 
    <li><a href="/contact">Contact</a></li>
    </ul>
      
    </nav>
    <section>
    <div class="left">
    <h1>About me</h1>
    <p>My name is Threepat Kiatkamol. <br/>
    I have worked as developer in c#, untiy engine for 2 years<br/>
    I have worked as freelancer in flutter for 1 year <br/>
    Click to see <a href="./documents/resume.pdf">Resume</a>
    </p>
    </div>
    <div class="right">
        <img src="/images/me.jpg" height="500px">
    </div>
    </section>
  </body>
</html>
