<%- include partial/header.ejs %>

    <form method="POST">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" ><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" ><br>
        <label for="Phone">Contact Number:</label><br>
        <input type="tel" id="Phone" name="Phone" ><br>
        <label for="Email">Email:</label><br>
        <input type="email" id="Email" name="Email" ><br>
        <label for="Messages">Messages:</label><br>
        <textarea rows = "5" cols = "50" name = "Messages" placeholder="Comment here"></textarea><br><br>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
