<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
    <ul>
    <img src="/images/img.png">
    <li><a href="/">Home</a></li>
    <li><a href="/project">My Project</a></li> 
    <li><a href="/aboutme">About Me</a></li> 
    <li><a href="/services">Services</a></li> 
    <li><a href="/contact">Contact</a></li>
    </ul>
      
    </nav>
    
    <h1>Welcome to <%= title %></h1>
    <p>This is my personal portfolio</p>
    if you want to know me more, go to <a href="/aboutme">About Me</a>
    

    <h1>Mission</h1>
    <q> My mission is to make the quality 
    of coding and to create the uniqueness of application</q>
  </body>
</html>
