
<%- include partial/header.ejs %>
<%- include partial/nav.ejs %>

    <p>This is my personal portfolio</p>
    if you want to know me more, go to <a href="/aboutme">About Me</a>
    

    <h1>Mission</h1>
    <q> My mission is to make the quality 
    of coding and to create the uniqueness of application</q>
  </body>
</html>
