<%- include partial/header.ejs %>

    <table>
  <tr>
    <th color="grey">Project 1</th>
    <th>Project 2</th>
    <th>Project 3</th>
  </tr>
  <tr>
    <td><img src="images/p1.jpg" width="300px"></td>
    <td><img src="images/p2.jpg" width="300px"></td>
    <td><img src="images/p3.png" width="300px"></td>
  </tr>
  <tr>
    <td width="300px">Android application using Unity Engine<br/><br/>
    360degree video playlist<br/><br/>
    Production to True Cooporation which is the Top3 communication telecom company in Thailand<br/>
    </td>
    <td width="300px">Oculus quest application using Unity Engine<br/><br/>
    Virtual Reality Video Player <br/><br/>
    Production to presenting the medical company
    </td>
    <td width="300px">Android application using Flutter<br/><br/>
    Social media application <br/><br/>
    I have created this application for community of Thai singer, artist or influncer who want to receive the revenue from donation
    </td>
  </tr>
</table>
  </body>
</html>
