<!DOCTYPE html>
<html>
  <head>
    <title>My services</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav>
    <ul>
    <img src="/images/img.png">
    <li><a href="/">Home</a></li>
    <li><a href="/project">My Project</a></li> 
    <li><a href="/aboutme">About Me</a></li> 
    <li><a href="/services">Services</a></li> 
    <li><a href="/contact">Contact</a></li>
    </ul>
      
    </nav>
    <h1>My Service</h1>
    <p>
    <ul>
        <li>Web development(HTML,CSS,Javascript)</li>
        <li>AR/VR development(Unity Engine)</li>
        <li>Game development(Unity Engine)</li>
        <li>Flutter</li>
    </ul>
    </p>
   
  </body>
</html>
