
<%- include partial/header.ejs %>
<%- include partial/nav.ejs %>
    <p>
    <ul>
        <li>Web development(HTML,CSS,Javascript)</li>
        <li>AR/VR development(Unity Engine)</li>
        <li>Game development(Unity Engine)</li>
        <li>Flutter</li>
    </ul>
    </p>
   
  </body>
</html>
