/* style.css
Threepat Kiatkamol
301207863
*/
body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}

ul img{
  float: left;
  padding: 5px;
  height: 40px;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

td {
  padding: 30px;
}

td:nth-child(odd), th:nth-child(odd) {
  background-color: #a0a5a5;
}