<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
       <nav>
    <ul>
    <img src="/images/img.png">
    <li><a href="/">Home</a></li>
    <li><a href="/project">My Project</a></li> 
    <li><a href="/aboutme">About Me</a></li> 
    <li><a href="/services">Services</a></li> 
    <li><a href="/contact">Contact</a></li>
    </ul>
      
    </nav>
    <section>
    <div class="left">
    <h1><%= title %></h1>